<!-- navbar   -->
<div class="fixed-top navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand avatar" do %>
    <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTobhqoqPRphj6JVmmOqtnkVo0QHnGFa8LWsVXxH8VONtYaaGKRw", class: "avatar dropdown-toggle"%>
    <p class = "navbar-brand" style = "color: white; font-family: 'Indie Flower', cursive;">Cocktail Weaver</p>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a style = "font-family: 'Indie Flower', cursive;" href= "cocktails/new" class="btn btn-black">Weave A New Cocktail</a>
      </li>
      <li class="nav-item dropdown">
        <%= image_tag "user.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Action", "#", class: "dropdown-item" %>
          <%= link_to "Another action", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>

<!-- banner -->
<div class="home-banner">
  <h1 style = "font-family: 'Indie Flower', cursive; font-size: 80px;">Cocktail Weaver</h1>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
    </div>
  </div>
</div>


<div class = "container">
  <div class = "row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-8 col-md-6 col-lg-3 my-5">
        <%= link_to cocktail_path(cocktail) do%>
          <div class="card-trip">
            <img src= <%= cocktail[:image] %> />
            <div class="card-trip-infos">
              <div>
                <h2 style = "font-size: 22px" class = "btn btn-light text-Indie" ><%= cocktail[:name] %></h2>
              </div>
              <%= link_to cocktail_path(cocktail), method: :delete, data: {confirm: "Are you sure?"} do %>
              <img src="https://cdn3.iconfinder.com/data/icons/cleaning-icons/512/Trash_Can-512.png" class="card-trip-user avatar-bordered" />
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>




