<!-- banner -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "#", class: "navbar-brand avatar" do %>
    <%= image_tag "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTTobhqoqPRphj6JVmmOqtnkVo0QHnGFa8LWsVXxH8VONtYaaGKRw", class: "avatar dropdown-toggle"%>
    <p class = "navbar-brand" style = "color: black; font-family: 'Indie Flower', cursive;">Cocktail Weaver</p>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <%= image_tag "user.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "My cocktails", "#", class: "dropdown-item" %>
          <%= link_to "Weave a new cocktail", "#", class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>





<div class = "container text-center form-text" style = "background-image: url(https://images.unsplash.com/photo-1527271982979-83fea3eb3582?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80); height: 500px; width: 600px; object-fit: cover; padding: 150px 100px; opacity: 0.7;">
  <h1 >Weave a new cocktail</h1>
  <%= simple_form_for @cocktail do |f| %>
  <%= f.label :name, "Name of your cocktail:" %>
  <%= f.input :name, label: false%>
  <%= f.label :photo, "Upload an image for your cocktail:" %>
  <%= f.input :photo, label: false%>
  <%= f.input :photo_cache, as: :hidden %>
  <%= f.submit "add your cocktail", label: false, class: "btn btn-light text-Indie" %>
  <% end %>
</div>
